body, html{
  height: 100%;
  margin-top: 0;
}

@font-face {
    font-family: NotoSerif;
    src: url(../fonts/NotoSerif-Regular.ttf);
}

.sidenav{
  width: 18%;
  height: 100%;
  background: rgb(37, 48, 80); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgb(37, 48, 80) , rgb(43, 60, 111)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(37, 48, 80), rgb(43, 60, 111)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(37, 48, 80), rgb(43, 60, 111)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(37, 48, 80) , rgb(43, 60, 111)); /* Standard syntax */
  top: 0;
  position: fixed;
  overflow-y:scroll;
  z-index: 8;
}

.content{
  width: 82%;
  margin-left: 18%;
  height: 500px;
  margin-top: 64px;
}

nav{
  position: fixed;
  top: 0;
  z-index: 7;
  background: rgb(37, 48, 80); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgb(37, 48, 80) , rgb(43, 60, 111)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgb(37, 48, 80), rgb(43, 60, 111)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgb(37, 48, 80), rgb(43, 60, 111)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgb(37, 48, 80) , rgb(43, 60, 111)); /* Standard syntax */
}

.brand-logo {
  color: rgb(17, 19, 23);
  font-size: 20px;
  font-weight: bolder;
  margin-left: 10%;
  margin-top: 5%;
  position: absolute;
}

.user-view{
  width: 100%;
  height: 100px;
  margin-top: 63px;
  background-color: rgba(197, 196, 217, 0.1);
}

.user-profile{
  width: 100%;
  height: 80px;
  margin-top: 10%;
}

.name{
  font-family: NotoSerif;
  font-size: 16px;
  font-weight: bolder;
  height: 30px;
  margin-top: 15%;
  position: absolute;
  color: rgb(17, 19, 23);

}

.item-sidenav{
  width: 100%;
  color: rgb(17, 19, 23);
  text-transform: uppercase;
  font-family: NotoSerif;
  padding: 5px;
  font-size: 13px;
  height: 50px;
  font-weight: bold;
  margin-top: 5%;
}

.item-sidenav i{
  vertical-align: middle;
}

.item-sidenav:hover{
  cursor: pointer;
  background-color: rgba(197, 196, 217, 0.1);
}

.item-sidenav .material-icons{
  margin-right: 5%;
}

#logo{
  width: 120px;
  height: 63px;
  vertical-align: middle;
}

#important_info{
  margin-top: 10%;
  height: 250px;
}

.model-card{
  height: 200px;
  border-radius: 20px;
  margin-left: 6.5% !important;
  z-index: 0;
}

.model-card label{
  font-family: NotoSerif;
  font-size: 15px;
  margin-top: 20px;
  position: absolute;
  color: white;
}

.model-card img{
  width: 96px;
  height: 96px;
  position: relative;
  margin-top: -50%;
  margin-left: 60%;
  z-index: 1;
  filter: invert(90%)
}

.numb{
  font-size: 45px;
  font-family: NotoSerif;
  color: white;
  position: relative;

}

.blue-gradient-3{
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, rgb(52, 63, 111), rgb(46, 55, 105), rgb(34, 38, 80)); /* Safari */
  background: -o-radial-gradient(circle, rgb(52, 63, 111), rgb(46, 55, 105), rgb(34, 38, 80)); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, rgb(52, 63, 111), rgb(46, 55, 105), rgb(34, 38, 80)); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, rgb(52, 63, 111), rgb(46, 55, 105), rgb(34, 38, 80)); /* Standard syntax */
}

.blue-gradient-2{
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, rgb(74, 83, 120), rgb(70, 80, 131), rgb(55, 59, 101)); /* Safari */
  background: -o-radial-gradient(circle, rgb(74, 83, 120), rgb(70, 80, 131), rgb(55, 59, 101)); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, rgb(74, 83, 120), rgb(70, 80, 131), rgb(55, 59, 101)); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, rgb(74, 83, 120), rgb(70, 80, 131), rgb(55, 59, 101)); /* Standard syntax */
}

.blue-gradient-1{
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, rgb(160, 170, 213), rgb(129, 138, 184), rgb(99, 102, 143)); /* Safari */
  background: -o-radial-gradient(circle, rgb(160, 170, 213), rgb(129, 138, 184), rgb(99, 102, 143)); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, rgb(160, 170, 213), rgb(129, 138, 184), rgb(99, 102, 143)); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, rgb(160, 170, 213), rgb(129, 138, 184), rgb(99, 102, 143)); /* Standard syntax */
}
