/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@font-face {
    font-family: bellefair;
    src: url(../fonts/Bellefair-Regular.ttf);
}

nav ul a,
nav .brand-logo {
  color: rgb(37, 48, 80);
  font-size: 20px;
  font-weight: bolder;
}

.gray-text-hg{
  color: #424242;
}

#logo{
  width: 120px;
  height: 63px;
  vertical-align: middle;
}

.about-btn, #btn-search, #logar-btn{
    background-color: transparent;
    border-radius: 25px;
    color: rgb(37, 48, 80);
    font-weight: bolder;
    box-shadow: 1px 1px 1px 1px rgb(74, 98, 92);
}

.about-btn:hover{
  background-color: rgba(37, 48, 80, 0.78);
}

.msgs{
  margin-top: 5%;
}

#login-container{
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(62, 175, 231, 0.91), rgba(57, 221, 191, 0.57)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(62, 175, 231, 0.91), rgba(57, 221, 191, 0.57)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(62, 175, 231, 0.91), rgba(57, 221, 191, 0.57)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(62, 175, 231, 0.91), rgba(57, 221, 191, 0.57)); /* Standard syntax */

  border-radius: 5px;
  width: 80%;
  height: 450px;
  float: left;
}

#search-flight{
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(45, 84, 224, 0.91), rgba(57, 89, 182, 0.57)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(45, 84, 224, 0.91), rgba(57, 89, 182, 0.57)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(45, 84, 224, 0.91), rgba(57, 89, 182, 0.57)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(45, 84, 224, 0.91), rgba(57, 89, 182, 0.57)); /* Standard syntax */

  height: 450px;
  color: white !important;
  border-radius: 5px;
  padding-left: 10%;
  padding-top: 2%;
  width: 75%;
}

label {
  font-size: 0.8rem;
  color: white !important;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
