<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Highan</title>

    <!-- CSS  -->
    <link href="../css/icon" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="../css/admin.css" type="text/css" rel="stylesheet" media="screen,projection">
  </head>
  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper">
        <a id="logo-container" class="brand-logo left"> <img src="../imgs/airplane.png" id="logo"/> Highan - Airlines </a>
        <ul class="right hide-on-med-and-down">
        </ul>

        <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
          <li><a href="http://materializecss.com/templates/parallax-template/preview.html#">Navbar Link</a></li>
        </ul>
        <a href="http://materializecss.com/templates/parallax-template/preview.html#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <div class="sidenav z-depth-2">
      <ul>
        <li>
          <div class="user-view">
            <div class="row col s12">
              <div class="col s4" style="vertical-align: middle">
                <a href="#!user"><img class="user-profile circle" src="../imgs/profile.png"></a>
              </div>
              <div class="col s8" style="height: 100px">
                <a href="#!name"><span class="blue-text name">John Doe</span></a><br>
                <a href="#!email"><span class="blue-text email">jdandturk@gmail.com</span></a>
              </div>
            </div>
          </div>
        </li>

        <a href="#"><li class="item-sidenav"><i class="material-icons">cloud</i>Área de Cadastro</li></a>

      </ul>

    </div>

  </body>
</html>
