<div class="row" id="important_info">
  <div class="model-card blue-gradient-3 col s3">
    <label>Registered Users</label>
    <p class="numb">778</p>
    <img src="../imgs/registered_users.png">
  </div>

  <div class="model-card blue-gradient-2 col s3">
    <label>New Users</label>
    <p class="numb">56</p>
    <img src="../imgs/new_users.png">
  </div>

  <div class="model-card blue-gradient-1 col s3">
    <label>New Orders</label>
    <p class="numb">45</p>
    <img src="../imgs/market.png">
  </div>
</div>

<canvas id="pie_chart" style="display: block; width: 359px; height: 79px;"></canvas>
