<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Highan</title>

    <!-- CSS  -->
    <link href="../css/icon" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="../css/admin.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="../css/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
  </head>
  <body>
    <nav role="navigation">
    </nav>

    <div class="sidenav">
      <div class="row">
        <a href="#" class="brand-logo left valign-wrapper"> <i class="material-icons">airplanemode_active</i> Highan - Airlines </a>
      </div>
      <ul>
        <li>
          <div class="user-view">
            <div class="row col s12">
              <div class="col s5" style="vertical-align: middle">
                <a href="#!user"><img class="user-profile circle" src="../imgs/profile.png"></a>
              </div>
              <div class="col s7" style="height: 100px">
                <a href="#!name"><span class="name">John Doe</span></a><br>
              </div>
            </div>
          </div>
        </li>

        <a href="#cad"><li class="item-sidenav valign-wrapper" id="cad"><i class="material-icons">assignment</i>Área de Cadastro</li></a>
        <a href="#inf"><li class="item-sidenav valign-wrapper" id="inf"><i class="material-icons">data_usage</i>Informações</li></a>
        <a href="#new"><li class="item-sidenav valign-wrapper" id="new"><i class="material-icons">supervisor_account</i> Novos Usuários</li></a>

      </ul>
    </div>

    <div class="content">
    </div>

    <script src="../js/jquery-2.1.1.js"></script>
    <script>
      $(document).ready(function(){
        var way = window.location.href;
        var piece = way.slice(54, 57);

        if(piece==0){
          $(".content").load("admin_inicial.html");
        }else if(piece=="#"){
          $(location).prop('href', 'http://localhost/highan_airlines/templates/admin.html#')
        }

        $("#cad").click(function (){
          $.get("area_cad.html", function (data) {
              $(".content").append(data);
          });
        });

        $("#inf").click(function (){
          $(".content").load("area_info.html");
        });

        $("#new").click(function (){
          $(".content").load("new_users.html");
        });
        $(function(){
          var way = document.URL;
          var piece = way.slice(56, 59);

            $(".content").load("templates/admin_inicial.html");

        });
      });
    </script>
    <script src="../js/perfect-scrollbar.js"></script>
    <script src="../js/chart-2.4.0.min.js"></script>
    <script src="../js/admin.js"></script>

  </body>
</html>
